.main{
    border: 3px solid black;
    margin: 30px;
    margin-left: 500px; 
    margin-right: 500px;
    margin-bottom: 20px;;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
}
#marquee{
    font-size: 35px;
    /* background: linear-gradient(120deg,red,lightblue,green,orange,blue, lightgreen); */
}